<!-- コメント投稿フォームの部分テンプレート -->
<%= form_with  model:[review, comment], local: false do |f| %>
  <!--エラーメッセージ-->
  <div id="comments-error">
    <%= render 'layouts/error_messages', model: f.object %>
  </div>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "投稿する" %>
<% end %>