<!-- homes/about Aboutページ-->

<div class="container">
  <div class="row">
    <div class="col mt-4">
      <h2 class="mb-5">Aboutページ</h2>

      <h4>Four Boardersは</h4>

      <p class="mb-5">
        すべてのボードスポーツ(four)が好きなひと、<br>
        これから好きになるひとに向けた(for)SNSです。
      </p>

      <p>
        そのスポーツに触れる時、<br>
        そのスポーツに楽しみを見い出している時<br>
        もしその業界の「イケてる」を知ることができたら<br>
        楽しみの枠も広げられるハズ
      </p>
    </div>
  </div>
</div>