<!-- public/homes トップページ（投稿レビュー一覧） -->

<div class="container">
  <div class="row">
    <div>
      <% @reviews.each do |review| %>
        <!-- get_user_imageにundefined methodが出る -->
        <%= image_tag @user.get_user_image(100,100) %>
        <%= @users.name %>
        <%=  %>
      <% end %>
    </div>
  </div>
</div>
