<!-- public/homes トップページ（投稿レビュー一覧） -->

<div class="container">
  <div class="row">
    <div>
      <% @reviews.each do |review| %>
        <%= image_tag  %>
      <% end %>
    </div>
  </div>
</div>
