<!-- public/user/unsubscribe ユーザー退会確認ページ -->

<div class="mt-5">
  <div class="colmd-8 mx-auto text-center mt-3 mb-5">
    <h5 class="mb-5">一度退会されますと、<br>投稿履歴やフォロー・フォロワーのデータが全て削除されます。</h5>
    <h3 class="mb-5">本当に退会されますか？</h3>

    <div>
      <%= link_to "　戻る　", user_path(@user.id), class: 'btn btn-outline-dark mr-5' %>
      <%= link_to " 退会する ", user_path(@user.id), method: :delete, "data-confirm" => "最終確認 <本当に退会されますか？>", class: 'btn btn-outline-danger ml-3' %>
    </div>
  </div>
</div>
