<!--エラーメッセージ-->
<% if model.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <h3><%= model.errors.count %>件のエラーが発生しています。</h3>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
